<h4>Poll Section</h4>
<button class="remove-section btn btn-small btn-danger" data-id="{{ link.id }}"><i class="fa fa-times"></i> Remove</button>
<input type="hidden" name="sections[]" value="{{ link.id }}">
<div class="section-poll">
	{{ form_row(form.content) }}
	{% if section.poll is not empty %}
		<label>Poll Chosen</label>
		<input type="text" value="{{ section.poll }}" disabled>
	{% else %}
		<button class="btn btn-primary">Add Existing Poll</button>
	{% endif %}
</div>
