<div class="widget-poll" >
	<h2>{{ poll.description }}</h2>
	<div class="choices">
		{% for choice in poll.choices %}
			<div class="choice">
				<label>{{ choice.label }}</label>
				<a href="/rest/poll/vote/{{ choice.id }}"><i class="fa fa-circle-o"></i></a>
			</div>
		{% endfor %}
	</div>
</div>