<div class="widget-poll">
	<h5><span>Poll</span></h5>
	<div class="description">
		<p>{{ poll.description }}</p>
	</div>
	<div class="choices">
		{% for choice in poll.choices %}
			<div class="choice">
				<label>{{ choice.label }}</label>
				<a href="/rest/poll/vote/{{ choice.id }}" class=""><i class="fa fa-circle-o"></i></a>
			</div>
		{% endfor %}
	</div>
	<br class="clear">
</div>